@import "./bulma/bulma";
@import "./page-transitions";
body {
    z-index: 1;
    margin-bottom: 4.5rem;
}

.content-wrapper {
    box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
}